<h1>Listing tournaments</h1>

<% if !@tournaments.blank? %>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><% if tournament.users.collect{|u| u.id }.include?(current_user.id) %>
	          <%= link_to tournament.name, tournament %>
	        <% else %>
	          <%= tournament.name %>
	        <% end %>
	    </td>
        <% unless tournament.users.collect{|u| u.id }.include?(current_user.id) %>
          <td><%= link_to 'Join', join_tournament_path(tournament) %></td>
        <% end %>
        <% if tournament.owner == current_user %>
          <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
          <td><%= link_to 'Destroy', tournament, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>There are no tournaments available for you to join.</p>
<% end %>

<%= link_to 'New Tournament', new_tournament_path %>
