<h1><%= @tournament.name %></h1>

<p>Admin: <%= @tournament.owner.email %></p>

<h2>Competitors:</h2>
<ol>
  <% @tournament.rankings.sort!{ |a, b| a.rank.to_i <=> b.rank.to_i }.each do |ranking| %>
    <li><%= ranking.user.email %></li>
  <% end %>
</ol>

<% if current_user == @tournament.owner %><%= link_to 'Edit', edit_tournament_path(@tournament) %> |<% end %>
<%= link_to 'Back', tournaments_path %>
