<!DOCTYPE html>
<html>
<head>
  <title>Tournamentable - Making tournaments easier.</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<h1><%= link_to 'Tournamentable', root_path %></h1>
<p>Making tournaments easier.</p>

<% if user_signed_in? -%>
  <div id="user_login_box">
    Welcome, <%= current_user.readable_name %> !
    <%= link_to 'Profile', edit_user_registration_path %>
    <%= link_to 'Sign out', destroy_user_session_path %>
  </div>
<% end -%>

<% if notice %><p id="notice"><%= notice %></p><% end %>
<% if alert %><p id="alert"><%= alert %></p><% end %>

<%= yield %>

</body>
</html>
